.hero {
    margin: 0;
    padding: 0;
    background-image: url("images/background2.jpg");
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    text-shadow: 
        -1px -1px 0 #FFF,  
        1px -1px 0 #FFF,
        -1px  1px 0 #FFF,
        1px  1px 0 #FFF;
}

.two-column {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 5px;
    width: 90%;
    margin: auto;
    margin-top: 40px;
}

img{
    width: 80%;
    margin-top: 20px;
}