.hero {
    margin: 0;
    padding: 0;
    background-image: url("images/background2.jpg");
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: xx-large;
    text-align: center;
    text-shadow: 
        -1px -1px 0 #FFF,  
        1px -1px 0 #FFF,
        -1px  1px 0 #FFF,
        1px  1px 0 #FFF;
}

.two-column {
    display: grid;  
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    width: 90%;
    margin: auto;
    margin-top: 40px;
}

.three-column {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 75px
}

img{
    width: 90%;
    margin-top: 20px;
}

.info {
    margin-top: 95px;
    font-size: 1.75em;
}