@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300..700&display=swap');

.hero {
    font-family: "Cormorant Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    align-items: center;
    margin: -8px;
    background-image: url("images/background.jpg");
    height: 1080px;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 50px;
    text-align: center;
    text-shadow: 
        -1px -1px 0 #FFF,  
        1px -1px 0 #FFF,
        -1px  1px 0 #FFF,
        1px  1px 0 #FFF;
}

.two-column {
    display: grid;  
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    width: 90%;
    margin: auto;
    margin-top: 40px;
}

.three-column {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 75px
}

img{
    width: 90%;
    margin-top: 20px;
}

.info {
    margin-top: 95px;
    font-size: 1.75em;
}